
a, button {
  @include trasition('fast');
}

a {
  text-decoration: none;

  &:hover, &:focus, &:active, &:visited {
    text-decoration: none;
  }
}

/* Heading */
h1, h2, h3, h4, h5, h6 {
  font-weight: $bold;
}

h1 {

}

h2 {

}

h3 {

}

h4 {

}

small {

}

/* Paragraph */

p {

}

blockquote {
  margin-left: 30px;
}

span {

}

/* List */

ul {
  padding: 0;
  margin: 0;
  li {

  }
}

ol {
  li {

  }
}

/* Description */

dl {
  dt {

  }
  dd {

  }
}