$primary-color: #0177d7;
$primary-color-light: #3498db;
$accet-color: #f39c12;
$white: #ffffff;
$black: #000000;

$primary-font: 'Open Sans', sans-serif;

$ultraLight: 100;
$light: 200;
$demi: 300;
$normal: 400;
$medium: 500;
$semiBold: 600;
$bold: 700;
$black: 800;
$ultraBlack: 900;
$italic: italic;