include modules/head/head
include modules/agent-listing/agent-item
doctype html
html
    +head(head.base)
    body
        header.header
            section.agent-listing
                .container
                    .row
                        .clear-padding-row
                            +agent-item-style-2(agent.list, 12)