include modules/mixins/mixin
include modules/test/test
include modules/head/head
doctype html
html
    +head(head.home2)
    body
        // header
        header
        .bg-test
            +test(test.data, 3)
            img(src='assets/img/tulipe.jpg', alt="tulipe")
            +test(test.data, 4)